body{
    background: grey;
}
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

body .shoc{
    width: 200px;
    height: 200px;
    background: grey;
    display: inline-block;
    border: 1px solid grey;
}